body{
    box-sizing: border-box;
    margin: 0;
}
.landscape{display: none;}
@media screen and (orientation: landscape) and (max-width:1200px) {
 .landscape{
     width: 100vw;
     height: 100vh;
     background-color: #000;
     position: absolute;
     z-index: 1000;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 p{
     color: #fff;
     font-weight:500;
     font-size: 26px;
 }
}